@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/petshop.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="home-container">
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-dark mb-lg-4">Pet Shop</h1>
                    <h1 class="text-uppercase text-white mb-lg-4">Make Your Pets Happy</h1>
                    <p class="fs-4 text-white mb-lg-4">If you love animals, take care of them too.</p>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 content-image">
            <img class="image-head" src="/images/gaudan.jpg" />
            <p class="name-product">Name Product</p>
            <button class="buy-now btn btn-outline-light border-2">Mua Ngay</button>
        </div>
        <div class="col-4 content-image">
            <img class="image-head"  src="/images/gaudan.jpg" />
            <p class="name-product">Name Product</p>
            <button class="buy-now btn btn-outline-light border-2">Mua Ngay</button>
        </div>
        <div class="col-4 content-image">
            <img class="image-head"  src="/images/gaudan.jpg" />
            <p class="name-product">Name Product</p>
            <button class="buy-now btn btn-outline-light border-2">Mua Ngay</button>
        </div>
    </div>
    <div class="row">
        <div class="title-menu">Thức ăn hạt cho mèo</div>
    </div>
    <div class="row">
        <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div 
                        class="button-add-card"><button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div class="button-add-card">
                        <button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div class="button-add-card">
                        <button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                    <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div class="button-add-card">
                        <button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div class="button-add-card">
                        <button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div class="button-add-card">
                        <button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div class="button-add-card">
                        <button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 content-image">
            <div class="card">
                <div class="card-body align-middle">
                    <img class="image-content-card" src="/images/gaudan.jpg" />
                </div>
                <div class="card-footer w-100">
                    <p>Thức Ăn Hạt Cho Chó Chó Ăn Thức Ăn Hạt</p>
                    <p>10.0000</p>
                    <div class="button-add-card">
                        <button class="bi bi-cart" href=""></button><button class="bi bi-eye" href=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
