* Phần header */
.header {
    width: 100%;
    z-index: 1 !important;
    position: fixed;
    align-items: center;
    height: 20%;
    border-bottom: 1px solid rgb(224, 217, 217);
}

.top {
    background-color: #fdf1f0;
    justify-content: space-between;
    display: flex;
    padding: 0 100px 0 100px;
    border-bottom: rgb(216, 213, 213) solid 1px;
}

.dn a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 12px 16px;
    display: inline;
    font-family: "Roboto", sans-serif;
}

    .dn a:hover {
        color: #f9a392;
    }

.nut_dropdown {
    background-color: #fdf1f0;
    color: black;
    padding: 7px;
    font-size: 15px;
    border: none;
    /* font-family: "Poppins", sans-serif; */
    font-weight: 500;
}

    .nut_dropdown:hover {
        color: #f9a392;
    }

/* Thiết lập vị trí cho thẻ div với class dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
    /*Ẩn nội dụng các đường dẫn*/
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    /* Thiết kế style cho các đường dẫn tronng Dropdown */
    .noidung_dropdown a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 15px;
    }

        /* thay đổi màu background khi hover vào đường dẫn */
        .noidung_dropdown a:hover {
            background-color: #ddd;
            color: #f9a392;
        }

/* hiển thị nội dung dropdown khi hover */
.dropdown:hover .noidung_dropdown {
    display: block;
}

/* Thay đổi màu background cho nút khi được hover */
.dropdown:hover .nut_dropdown {
    /* background-color: #00bfff; */
}

/*Dùng Để hiển thị nội dung*/
.hienThi {
    display: block;
}

.middle {
    background-color: #fdf1f0;
    height: 90px;
    justify-content: space-between;
    padding-right: 200px;
}

.Badge {
    align-items: center;
    background: #ce2c6c;
    border: 2px solid #fff;
    border-radius: 200em;
    color: #fff;
    display: flex;
    font-size: 0.77em;
    font-weight: 400;
    height: 1.44em;
    justify-content: center;
    line-height: 1;
    min-width: 1.44em;
    position: absolute;
    margin-left: 25px;
}

.u-hiddenVisually {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.clearfix::before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.menu {
    justify-content: space-between;
    padding-right: 200px;
    /* height: 20px; */
    background-color: white;
    padding-left: 50px;
    /* margin-top: 10px; */
    padding-top: 5px;
}

ul {
    list-style-type: none;
}

.danhmuc > li {
    float: left;
    position: relative;
}

    .danhmuc > li a {
        display: block;
        font-size: 16px;
        padding: 10px 15px;
        color: black;
        text-decoration: none;
    }

.danhmuc ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    background-color: white;
    border: 1px solid gainsboro;
    display: none;
}

    .danhmuc ul ul {
        top: 0;
        left: 100%;
    }

.danhmuc li li:hover {
    background-color: #fdb3a5;
}

.danhmuc ul li {
    text-align: left;
}

.danhmuc li:hover > ul {
    display: block;
}

.tt {
    font-size: 18px;
    font-weight: 500;
}

    .tt:hover {
        cursor: pointer;
        color: #dc8371;
    }

.danhmuc2 {
    text-align: center;
    /* margin-left: 80px; */
    margin-top: -5px;
    display: flex;
}

    .danhmuc2 > li {
        float: left;
    }

        .danhmuc2 > li a {
            display: block;
            font-size: 18px;
            padding: 10px 15px;
            color: black;
            text-decoration: none;
            font-weight: 500;
        }

.danhmuc2 li a:hover {
    color: #f16c51;
    font-weight: 500;
    transform: scale(1.1);
    transition: 300ms;
}
.footer {
    color: black;
    padding: 20px 0 50px 0px;
    background: rgb(255, 253, 253);
    border-top: 1px solid gainsboro;
    margin-top: 5 0px;
}

.bi {
    color: #eb679c;
    font-size: 20px;
    padding-right: 10px;
}

